<nav class="navbar">
    <div class="navbar-left">
      <button class="burger-button" (click)="toggleSideMenu()">
        ☰
      </button>
      <span class="app-title"><img src="assets/logo_color.png" alt="logo"> FlavorShare</span>
    </div>
  
    <div class="search-container">
      <input type="text" class="search-bar" placeholder="Search recipes...">
      <button class="search-button">🔍</button>
    </div>
  
    <div class="side-menu" [class.active]="isMenuOpen">
      <div class="menu-header">
        <button class="burger-button" (click)="toggleSideMenu()">
          ☰
        </button>
        <h1>FlavorShare</h1>
      </div>
      <button class="menu-item" (click)="navigateTo('home')">Home</button>
      <button class="menu-item" (click)="navigateTo('add')">Add</button>
      <button class="menu-item" (click)="navigateTo('recipes')">Recipes</button>
      <button class="menu-item" (click)="navigateTo('login')">Login</button>
    </div>
  
    <div class="overlay" *ngIf="isMenuOpen" (click)="toggleSideMenu()"></div>
  </nav>