.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #84bd89;
    color: white;
    padding: 1rem;
    display: flex;
    align-items: center;
    z-index: 1000;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  }

  img {
    width: 70px;
  }
  
  .burger-button {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .app-title {
    margin-left: 1rem;
    font-weight: bold;
  }
  
  .side-menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    background: #84bd89;
    transition: left 0.3s ease;
    z-index: 1001;
  }
  
  .side-menu.active {
    left: 0;
  }
  
  .menu-item {
    display: block;
    width: 100%;
    padding: 1rem;
    color: white;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
  }
  
  .menu-item:hover {
    background: #444;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 1000;
  }

  .menu-header {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  h1 {
    font-size: 25px;
    margin: 0;
  }

  input {
    border: none;
    border-radius: 5px;
    height: 40px;
    padding-left: 10px;
  }