<nav class="navbar">
    <div class="navbar-left">
      <button class="burger-button" (click)="toggleSideMenu()">
        ☰
      </button>
      <span class="app-title"><img src="assets/logo_color.png" alt="logo"> FlavorShare</span>
    </div>
  
    <div class="search-container">
      <input type="text" class="search-bar" placeholder="Search recipes...">
      <button class="search-button">🔍</button>
    </div>
  
    <div class="side-menu" [class.active]="isMenuOpen">
      <div class="menu-header">
        <button class="burger-button" (click)="toggleSideMenu()">
          ☰
        </button>
        <h1>FlavorShare</h1>
      </div>
      <button class="menu-item" (click)="navigateTo('home')">Accueil</button>
      <button class="menu-item" (click)="navigateTo('add')" *ngIf="authService.isLoggedIn()">Ajouter</button>
      <button class="menu-item" (click)="navigateTo('recipes')">Recipes</button>
      <button class="menu-item" (click)="navigateTo('login')" *ngIf="!authService.isLoggedIn()">Se Connecter</button>
      <button class="menu-item" (click)="navigateTo('register')" *ngIf="!authService.isLoggedIn()">S'inscrire</button>
      <button class="menu-item" (click)="Logout()" *ngIf="authService.isLoggedIn()">Déconnexion</button>

    </div>
  
    <div class="overlay" *ngIf="isMenuOpen" (click)="toggleSideMenu()"></div>
  </nav>