<section class="hero">
    <div class="hero-div">
        <h1>Découvrez de délicieuses recettes</h1>
        <p>Plus de 1000 recettes pour tous les goûts</p>
        <a (click)="GoToRecipes()" class="cta-button" >Explorer</a>
    </div>
    <img src="assets\35628-removebg-preview.png" alt="img">
</section>

<section class="trending" id="explore">
    <h2>Recettes Tendances</h2>
    <div class="recipe-grid">
        <div class="recipe-card">
            <img src="" alt="Pasta Carbonara" class="recipe-img">
            <div class="recipe-title">Pâtes Carbonara</div>
        </div>
        <div class="recipe-card">
            <img src="" alt="Chocolate Cake" class="recipe-img">
            <div class="recipe-title">Gâteau au Chocolat</div>
        </div>
        <div class="recipe-card">
            <img src="" alt="Ratatouille" class="recipe-img">
            <div class="recipe-title">Ratatouille</div>
        </div>
        <div class="recipe-card">
            <img src="" alt="Salad" class="recipe-img">
            <div class="recipe-title">Salade César</div>
        </div>
    </div>
</section>