<section class="hero">
    <div class="hero-div">
        <h1>Découvrez de délicieuses recettes</h1>
        <p>Plus de 1000 recettes pour tous les goûts</p>
        <a (click)="GoToRecipes()" class="cta-button" >Explorer</a>
    </div>
    <img src="assets\35628-removebg-preview.png" alt="img">
</section>

<section class="trending" id="explore">
    <h2>Recettes Tendances</h2>
    <div class="recipe-grid">
        <div *ngFor="let recipe of getLastFourRecipes()" class="recipe-card">
            <img [src]="getImageUrl(recipe.imageUrl)" [alt]="recipe.name">
            <div class="recipe-title">{{ recipe.name }}</div>
        </div>
    </div>
</section>